.place-order-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f6f8;
  padding: 20px;
}


.place-order-card {
  background: #ffffff;
  max-width: 900px;
  width: 100%;
  display: flex;
  gap: 24px;
  padding: 24px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}


.place-order-image {
  width: 300px;
  height: 260px;
  object-fit: cover;
  border-radius: 12px;
}


.place-order-details {
  flex: 1;
}


.place-order-title {
  font-size: 24px;
  margin-bottom: 6px;
}


.place-order-seller {
  margin-bottom: 4px;
}

.place-order-price {
  margin-bottom: 8px;
}

.place-order-seller span,
.place-order-price span {
  font-weight: 600;
}


.place-order-field {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
}

.place-order-label {
  font-size: 14px;
  margin-bottom: 4px;
}

.place-order-input {
  padding: 10px;
  font-size: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.place-selector_name {
  background: #f9fdf9;
}

.place-selector_input {
  border-color: #2e7d32;
}

.place-order-summary {
  margin-top: 16px;
  font-size: 15px;
}

.place-order-summary p {
  display: flex;
  justify-content: space-between;
  margin: 6px 0;
}

.place-order-final {
  font-size: 18px;
  font-weight: bold;
}

.place-order-final span {
  color: #2e7d32;
}

.place-order-confirm-btn {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background: #2e7d32;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}
.place-order-address-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.place-order-change-btn {
  background: transparent;
  border: none;
  color: #2e7d32;
  font-size: 14px;
  cursor: pointer;
  font-weight: 600;
}

.place-order-change-btn:hover {
  text-decoration: underline;
}


/* -- -- Mobile -- - -*/
@media (max-width: 768px) {
  .place-order-card {
    flex-direction: column;
  }

  .place-order-image {
    width: 100%;
    height: 220px;
  }
}

/* -- phones */
@media (max-width: 480px) {
  .place-order-title {
    font-size: 20px;
  }
}
